/**
*@author isa
*/
/* je defini que mon script va s integrer dans le fichier layout.twig grace a extends*/
{% extends 'layout.twig' %}
/* je defini lendroit ou va sinserer mon script html avec block body*/
            /* ici je rentre ce que je veux inserer */
{% block body %}
 
<main class="d-flex flex-column"></main>
<!-- pour la présentation rapide du site -->
    <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading text-danger">Voici le film recherché:</h1>
          <p class="lead text-muted">Consultez les commentaires des internautes et
              partagez votre avis avec les autres membres.
          </p>
          <p>
            <a href="#" class="btn btn-outline-danger my-2">S'inscrire</a>
            <a href="#" class="btn btn-secondary btn-outline-danger my-2">Se connecter</a>
          </p>
          <h2 class="lead text-danger">Cinebamo, l'appli qu'il vous faut! </h2>
          <p class="lead text-muted">Retrouvez nos services sur l'application mobile Cinebamo,
              pour être toujours informé des dernières sorties cinématographiques.
        </p>
        <p><a href="#" class="btn btn-outline-danger my-2">Télécharger l'appliMobile</a></p>
        </div>

    </section>
<!-- modele de carte pour faire apparaitre les sorties de la semaine -->
    <section id="one-movie" class="bg-grad-bkw">
            <div class="jumbotron jumbotron-fluid bg-sand col-12">
                    <div class="container col-12">
                        <h1 class="display-4 col-12 align">{{ title }}<!--Le retour de la Vagrant --></h1>
                        <video class="bd-placeholder-img card-img-top" width="100" height="225" controls="controls" poster="images/.png"  allowfullscreen >
                            <source src="" type="video/mp4" />
                            <source src="e.webm" type="video/webm" />
                            <source src="e.ogv" type="video/ogg" />
                            Ici l'alternative à la vidéo :
                        </video>
                    </div>
                </div>
                <div class="container space-in col-12">
                    <h2 class="blog-post-title">Synopsis:</h2>
                    <div><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
                    <p>{{ summary }}
                    <!--
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                        ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                        deserunt mollit anim id est laborum."<br/>
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                        ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                        deserunt mollit anim id est laborum."
                        -->
                    </p>
                </div>

            <div id ="containercomment">
                <div class="container space-in bg-sand col-12" id="insertcomment" >
                    <h4 class="blog-post-title">Vos derniers avis:</h4>
                    <p class="blog-post-meta">April 13, 2019 by <a href="#" class="text-danger">Georges</a></p>
                    <h4>un film génial, j'adore créer des vagrants!!!</h4>
                    <p>
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                        ut aliquip ex ea commodo consequat."
                    </p>
                </div>
            </div>
        </section>
<!-- pour le login -->
<section id="login" class="bg-grad-bkw">
        <form class="form-group" id="postcomment">
                <fieldset>
                        <legend class="text-white">Laisser votre commentaire:</legend>

                <div class="form-group d-flex justify-content-left pl-1">
                        <label for="exampleFormControlTextarea1"></label>
                        <textarea id="comment" name="comment" class="form-control space-around col-12" id="exampleFormControlTextarea1" rows="3" placeholder="Enter your comment"></textarea>
                    </div>
                <div class="form-group mb-2 pl-1">
                <button type="submit" class="btn btn-outline-danger">Commenter</button>
            </div>
            </form>
            </section>
        </fieldset>
    </form>
<section id="lescomms">
  {% for i in 0..2 %}
    <div class="card-comm">
      <div class="nom-note">
        <p id="title{{i}}">Nom</p>
        <div class="etoiles">
          {% for j in 1..5 %}
            <img id="etoile{{i}}-{{j}}" alt="">
          {% endfor %}
        </div>
      </div>
      <p class="text"id="commen{{i}}"></p>
      <div class="signal">
        <i class="fas fa-exclamation"></i>
        <i class="fas fa-pencil-alt"></i>
        <i class="fas fa-trash-alt"></i>
      </div>
    </div>
  {% endfor %}
  <div class="Plus">
        <p>Afficher tous les commentaires</p>
  </div>
</section>
</main>

<script src="/javascript/app.js"></script>
{% endblock %}
        /* je defini lendroit ou va sarreter mon script html avec endblock */
